@import 'utils';

.header {
    width: calc(100% - 273px);
    height: 60px;
    position: fixed;
    top: 0;
    background-color: $grey-active;
    left: 273px;
    z-index: 3;
}

.logo {
    @include flex-center;
    text-decoration: none;
    color: $thoth-blue;
    font-family: $wsans;
    font-size: 1.4rem;
    font-weight: 600;
}