@import 'utils';

.popup-tray-wrapper {
    position: fixed;
    bottom: 0;
    left: calc(273px + (100vw - 273px) / 2);
    transform: translateX(-50%);
    min-width: 500px;
    max-width: 100%;
    margin: 2rem auto 0 auto;
}

.popup-tray {
    @include flex-column-center;
    background-color: $light;
    min-width: 500px;
    max-width: 100%;
    border: 1px solid $secondary-active;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

    h3 {
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
.notch {
    @include flex-center;
    background-color: $grey;
    width: 30px;
    height: 4px;
    border-radius: 30px;
    margin: 2rem auto;
}

.popup-tray-option {
    @include flex-between;
    width: 100%;
    p {
        position: relative;
        left: 0;
        margin: 1rem 2rem;
    }

    .checkbox {
        @include flex-center;
        width: 30px;
        height: 30px;
        border: 1px solid $grey;
        border-radius: 50%;
        position: relative;
        right: 0;
        margin: 1rem 2rem;
        cursor: pointer;
    }
    .checkbox-clicked {
        background-color: $success;
        border: 1px solid $success;
    }
}

.checkmark-icon {
    color: $light;
}

.close-notch-icon {
    font-size: 30px;
    margin: 1rem 0;
    color: $grey;
    cursor: pointer;
}